@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fafbff;
  --foreground: #638de5;
  --foreground-2: #747dbe;
  --active-button-color: #6063ff;
  --remove-button-bg-color: #a760ff;
  --custom-active-red-color: #ea484b;
  --drop-shadow-color: hsla(221, 71%, 64%, 0.293);
  --rows-drop-shadow: 0 2px 2px 1px var(--drop-shadow-color);
  --sellers-container-drop-shadow: 0 1px 4px 1px var(--drop-shadow-color);
  background-color: var(--background);  
}

body {
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  user-select: none;
}
.main-container {
  @apply flex justify-center pl-[120px] items-center flex-col;
  @apply tablet:pl-[0] mobile:pl-[0];
  @apply flex justify-center pl-[120px] items-center flex-col;
  @apply tablet:pl-[0] mobile:pl-[0];
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

<<<<<<< HEAD
button {
  @apply hover:cursor-pointer;
  transition: all 0.14s ease-in-out;
}
=======
.food-type-sellers-container {
  @apply flex flex-col items-center justify-center gap-y-2 w-[200px] mt-[2rem] px-[2rem] py-[6px];
  @apply rounded-[17px] bg-[white] shadow-[var(--sellers-container-drop-shadow)];
  box-shadow: var(--sellers-container-drop-shadow);
  > div:first-of-type {
    @apply text-[1rem] font-[700];
  }
  > div > div:nth-of-type(2) {
    @apply h-[50px] w-[50px] outline-[1px] border-black;
  }
}




button {
  @apply hover:cursor-pointer;
  transition: all 0.14s ease-in-out;
}


>>>>>>> 4a3ff70 (CRM-81 New css module created and populated -> /MenuManagementContainer.module.css)
